<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Description -->
	<title>{{ page.title }}</title>
	<meta name="description" content="{{ page.description }}">
	<link rel="icon" type="image/png" href="{{site.url}}/favicon.png">

	<!-- Google+ -->
	<link rel="publisher" href="https://plus.google.com/{{site.googleplus}}"/>
	<meta itemprop="name" content="{{page.title}}">
	<meta itemprop="description" content="{{page.description}}">
	<meta itemprop="image" {% if page.socialimage == null %} content="{{site.url}}{{site.socialimage}}" {% else %} content="{{site.url}}{{page.socialimage}}" {% endif %} >

	<!-- Facebook -->
	<meta property="og:type" content="website"/>
	<meta property="og:title" content="{{page.title}}"/>
	<meta property="og:description" content="{{page.description}}"/>
	<meta property="og:image" {% if page.socialimage == null %} content="{{site.url}}{{site.socialimage}}" {% else %} content="{{site.url}}{{page.socialimage}}" {% endif %} />
	<meta property="og:url" content="{{site.url}}{{page.url}}"/>
	<meta property="og:site_name" content="{{ site.title }} "/>

	<!-- Twitter -->
	<meta name="twitter:card" content="summary">
	<meta name="twitter:title" content="{{page.title}}">
	<meta name="twitter:description" content="{{page.description}}">
	<meta name="twitter:image" {% if page.socialimage == null %} content="{{site.url}}{{site.socialimage}}" {% else %} content="{{site.url}}{{page.socialimage}}" {% endif %} >
	<meta name="twitter:url" content="{{site.url}}{{page.url}}">

	<!-- CSS -->
	<link rel="stylesheet" href="{{site.url}}/assets/main.css">

</head>
